/* scss variabkle */
$main_color: hsl(160,100%,50%);
$light-bg: lightgrey;
$dark-bg: grey;

// array
$sizes: 40px, 50px, 60px;

// function
@function sum($numbers) {
  $sum: 0;

  @each $number in $numbers {
    $sum: $sum + $number;
  }

  @return $sum;
}


@mixin flex-div($theme){
  display: flex;
  @if $theme=='light'{
    background: $light-bg;
  }@else {
    background: $dark-bg;
  }
}

:root {
  --main-color: hsl(0,100%,50%);
}


body {
  font-family: sans-serif;
  // color: $main_color;
  color: var(--main-color);
}

// nesting
.subtitle{
  height: sum($sizes);

  @include flex-div(light);
  
  font-size: 48px;
  .first-line {
        color: blue;
  }
  .second-line {
    color: green;
    &:hover {
      color: black;
    }
  }

}
